/* 공통 스타일 */
* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: Dotum, 돋움, Helvetica, sans-serif;
  background-color: #f5f6f7;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #000;
}


input, select {
  width: 100%;
  height: 51px;
  border: 1px solid #dadada;
}

.click:focus {
  border: solid 1px #03c75a
}

input {
  padding: 10px 14px;
}

select {
  padding: 10px 7px 10px 14px;
}


label {
  font-size: 14px;
  font-weight: bold;
}

/* 헤더 영역 */
header {
  width: 100%;
  min-width: 460px;
  /* 영역 확인용 */
  /* background-color: orange; */
}
header .top {
  max-width: 768px;
  height: 124px;
  margin: 0 auto;
  display: flex;
  /* 영역 확인용 */
  /* background-color: beige; */

  justify-content: center;
  align-items: center;
}


header .top .logo .logo-img {
  width: 165px;
  height: 32px;
  background-image: url("https://ssl.pstatic.net/static/nid/join/m_logo_naver.png");
  background-size: 165px auto;
  background-repeat: no-repeat;
}

/* 메인 영역 */
#container {
  width: auto;
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  /* 영역 확인용 */
  /* height: 996px;
  background-color: royalblue; */
}
#container .section-input {
  width: 460px;
  margin: 0 auto;
  padding: 0 15px;
  flex: 1;
  /* 영역 확인용 */
  /* background-color: coral; */
}

#container .section-input > * {
  margin: 8px 0 19px;
  flex: 1;
}

#container .section-input .input-group-row {
  position: relative;
}

#container .section-input .input-group-row span {
  position: absolute;
  line-height: 51px;
  right: 14px;
  color: #8e8e8e;
  font-size: 15px;
}

#container .section-input .input-group-row .pwd {
  background-image: url("https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png");
  width: 24px;
  height: 24px;
  background-size: 125px 75px;
  position: absolute;
  right: 13px;
  bottom: 14px;
}

#container .section-input .input-group-row .repwd {
  width: 24px;
  height: 24px;
  background-image: url("https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png");
  background-size: 125px 75px;
  position: absolute;
  background-repeat: no-repeat;
  right: 13px;
  bottom: 14px;
}


#container .bir-wrap {
  display: flex;
}

#container .bir-wrap > * {
  flex: 1;
  margin-right: 10px;
}

#container .section-input .choice {
  font-size: 12px;
  font-weight: 400;
  color: #8e8e8e;
}


#container .input-group-row .input-phone {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}

#container .input-group-row .input-phone #phone {
  flex: 1;
  margin-right: 10px;
}

#container .input-group-row .input-phone .btn-pin {
  width: fit-content;
}



[type="button"] {
  color: #fff;
  background-color: #03c75a;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}


/* 푸터 영역 */
footer {
  width: 100%;
  min-width: 460px
  /* 영역 확인용 */
  /* background-color: cadetblue; */
}
footer .bottom {
  min-width: 220px;
  max-width: 768px;
  height: 83px;
  margin: 0 auto;
  padding: 30px 0 15px 0;
  /* 영역 확인용 */
  /* background-color: burlywood; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .bottom .bt-menu {
  font-size: 12px;
  color: #7e7e7e;
  min-width: 220px;
}

footer .bottom .bt-menu ul{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 9px;
}

footer .bottom .bt-menu ul li {
  font-size: 12px;
  position: relative;
  display: inline;
  padding: 0 4px 0 7px;
  white-space: nowrap;
  background: url("https://static.nid.naver.com/images/join/pc/bu_bar_2x.gif") left 50% no-repeat;
  background-size: 1px 10px;
}

footer .bottom .bt-menu ul li:first-child {
  background: 0 0;
}
footer .bottom .bt-menu ul li:nth-child(2) {
  font-weight: bold;
}

footer .bottom .bt-menu ul li a {
  color: #7e7e7e;
}


footer .bottom .copyright > * {
  display: inline-block;
  font-size: 12px;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 400;
  color: #7e7e7e;
}

footer .bottom .copyright .u_cri {
  padding-left: 1px;
}

/* TODO
footer bt-menu wrap 안 됨
viewport 사이즈 변경 시 container 크기 고정 안 됨,
  header logo 위치 고정 안 됨
select dropdown 사이즈 변경
repwd-img 변경 */