/* 공통 스타일 */
* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: Dotum,'돋움',Helvetica,sans-serif;
  background-color: #f5f6f7;
}

a {
  text-decoration: none;
  color: #000;
}

input, select {
  width: 100%;
  height: 51px;
  border: 1px solid #dadada;
}


/* 헤더 영역 */
header {
  width: 100%;

  /* 영역 확인용 */
  background-color: orange;
}

header .top {
  max-width: 768px;
  height: 124px;
  margin: 0 auto;

  /* 영역 확인용 */
  background-color: beige;

  display: flex;
  justify-content: center;
  align-items: center;
}

header .top .image {
  width: 165px;
  height: 32px;
  background-image: url("https://ssl.pstatic.net/static/nid/join/m_logo_naver.png");
  background-size: 165px auto;
}

/* 메인 영역 */
#container {
  max-width: 768px;
  margin: 0 auto;

  /* 영역 확인용 */
  background-color: royalblue;
  height: 996px;
}

#container .section-input {
  width: 460px;
  margin: 0 auto;

  /* 영역 확인용 */
  background-color: coral;
}

#container .input-group-row, .input-pwd, .input-repwd, .select-gender, .input-email {
  position: relative;
}

#container .input-group-row span {
  position: absolute;
  line-height: 51px;
  right: 13px;
}

#container .input-pwd .pwd-img {
  width: 24px;
  height: 24px;
  background-image: url("https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png");
  background-size: 125px 75px;
  position: absolute;
  right: 13px;
  bottom: 10px;
}

#container .input-repwd .repwd-img {
  width: 24px;
  height: 24px;
  background-image: url(https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png);
  background-size: 125px 75px;
  position: absolute;
  right: 13px;
  bottom: 10px;
}

#container .choice {
  font-size: 12px;
  color: #8e8e8e;
}

#container .input-email .email {
  width: 100%;
  height: 29px;
  position: absolute;
  line-height: 51px;
  left: 13px;
  color: #8e8e8e;
}

/* 푸터 영역 */
footer {
  width: 100%;
  background-color: cadetblue;
}

footer .bottom {
  max-width: 768px;
  height: 83px;
  margin: 0 auto;

  /* 영역 확인용 */
  background-color: burlywood;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .bottom .bt-menu {
  max-width: 452px;
  margin: 0 auto;
}