div{
  color: red;
  font-size: 100px;
}

div.logo{
  width: 500px;
  height: 500px;
  background: url("../images/logo.png");
}

div.tvnlogo{
  width: 497px;
  height: 200px;
  background: url("../images/tvn.svg");
}